[Desktop Entry]
Name=FluxDown
GenericName=Download Manager
Comment=Free IDM-alternative download manager
Exec=fluxdown-desktop %U
Icon=com.fluxdown.app
Type=Application
Categories=Network;FileTransfer;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/fluxdown;x-scheme-handler/ed2k;
Keywords=download;manager;idm;torrent;magnet;ed2k;
StartupWMClass=com.fluxdown.app
StartupNotify=true
